.timer {
    height: 100%;
    width: 100%;
}
.timer.sundial {
    padding: 0;
}
.timer .hourglass {
    height: 100%;
    width: 100%;
}
.analogTimer {
    padding: 0;
}
.digitalTimer {
    padding: 0;
}
