.wires {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(var(--wire-count), 1fr);
    align-items: center;
    grid-auto-flow: column;
    background-color: rgb(30, 32, 33);
    padding-left: 0;
    padding-right: 0;
}
.wire {
    box-sizing: border-box;

    width: 1.5vw;
    height: 1vw;

    position: relative;

    border-top: 0.3vmin solid black;
    border-bottom: 0.3vmin solid black;
    background-color: black;
}
.wireLeft {
    grid-column: 1/1;
}
.wireRight {
    grid-column: 2/2;
    justify-self: end;
    width: 2vw;
}
.wireHead {
    width: 2vmin;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(80%, -28%);
}
.wireRight .wireHead {
    right: unset;
    left: 0;
    transform: translate(-80%, -28%) rotate(180deg);
}
.wireHeadStroke {
    fill: #9b3015;
    stroke: #471d12;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.connection {
    position: absolute;
    width: var(--wire-width);
    pointer-events: none;
    transform-origin: 0 50%;
}

[data-wiretype="yellow"] {
    background-color: yellow;
    border-top-color: rgb(149, 149, 0);
    border-bottom-color: rgb(149, 149, 0);
}

[data-wiretype="green"] {
    background-color: green;
    border-top-color: rgb(0, 81, 0);
    border-bottom-color: rgb(0, 81, 0);
}

[data-wiretype="red"] {
    background-color: red;
    border-top-color: rgb(121, 0, 0);
    border-bottom-color: rgb(121, 0, 0);
}

[data-wiretype="blue"] {
    background-color: blue;
    border-top-color: rgb(0, 0, 121);
    border-bottom-color: rgb(0, 0, 121);
}

.leftPanel,
.rightPanel {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2vmin;
    background-color: #393e42;
}
.leftPanel {
    left: 0;
}
.rightPanel {
    right: 0;
}

.wirecutting {
    padding: 0;
}
.wirecutting canvas {
    width: 100%;
    height: 100%;
}

.wirecutting .helpDialog {
    font-size: 1.8vmin;
}