.helpButton {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    border: 1px solid black;
    width: 2vmin;
    height: 2vmin;
    background: transparent;
    align-items: center;
    justify-content: center;
    background-color: rgb(255,255,255, 0.4);
}
