@font-face {
    font-family: "Magic Book";
    src: url(../assets/fonts/magicbook.ttf);
}
@font-face {
    font-family: "Lantern";
    src: url(../assets/fonts/lantern.ttf);
}
.helpDialog:not([open]) {
    opacity: 0;
    pointer-events: none;
}
.helpDialog {
    background-image: url(../assets/images/book.png);
    background-size: cover;
    width: 80vmin;
    height: 47vmin;

    position: fixed;
    top: 0;
    left: 0;

    margin: 0;

    z-index: 10;

    border: none;
    background-color: transparent;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 4vmin;

    padding-left: 9.5vmin;
    padding-top: 4.5vmin;
    padding-right: 8vmin;
    padding-bottom: 7vmin;
    box-sizing: border-box;

    font-family: "Magic Book", serif;
    font-size: 2vmin;
}
.helpDialog h2 {
    font-family: "Lantern", serif;
}
.closeButton {
    position: absolute;
    top: 1vmin;
    right: 1vmin;
    border-radius: 50%;
    border: 1px solid black;
    color: white;
    width: 3vmin;
    height: 3vmin;
    background: black;
    font-size: 2vmin;
}
