.gizmoGrid {
    width: 100vmin;
    height: 100vmin;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: #0d1117;
    background-image: url(./assets/images/win_photo.jpg);
    background-size: 100%;
}

.gizmoGrid > * {
    box-sizing: border-box;
    width: 100%;
    height: 100%;

    padding: 2vmin;
    position: relative;
    background-color: #0d1117;
}

.gizmoGrid > *:nth-child(1) {
    grid-row: 2;
    grid-column: 2;
}
.gizmoGrid > *:nth-child(2) {
    grid-column: 2;
    grid-row: 1;
}
.gizmoGrid > *:nth-child(3) {
    grid-column: 3;
    grid-row: 1;
}
.gizmoGrid > *:nth-child(4) {
    grid-column: 3;
    grid-row: 2;
}
.gizmoGrid > *:nth-child(5) {
    grid-column: 3;
    grid-row: 3;
}
.gizmoGrid > *:nth-child(6) {
    grid-column: 2;
    grid-row: 3;
}
.gizmoGrid > *:nth-child(7) {
    grid-column: 1;
    grid-row: 3;
}
.gizmoGrid > *:nth-child(8) {
    grid-column: 1;
    grid-row: 2;
}
.gizmoGrid > *:nth-child(9) {
    grid-column: 1;
    grid-row: 1;
}

.completed {
    animation: completed 1s ease-in-out forwards;
}
@keyframes completed {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }
}
